{% include 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/add_jobs.css">
    <title>Add Jobs Here</title>
</head>
<body>
    <h1>Add Jobs</h1>

    {% block navbar %}
    {% endblock navbar %}


    <div id="form_jobs">
        <form method="POST" action="{{ url_for('add_job') }}">
            <label for="job_title">Job Title</label>
            <input type="text" required name="job_title">
    
            <label for="job_location">Job Location</label>
            <input type="text" required name="job_location">
    
            <label for="job_apply">Please insert email for Contact:</label>    
            <input type="email" required name="job_apply">
    
            <label for="job_requirements">Requirements</label>
            <input type="text" required name="job_requirements">
    
            <label for="job_other_skills">Other Skills</label>
            <input type="text" required name="job_other_skills">
    
            <label for="job_about">About</label>
            <textarea name="job_about" rows="3"></textarea>
            <input type="submit" required value="Submit" id="inp_submit">
        </form>
    </div>
</body>
</html>