<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles_index.css">
    <title>Index Page</title>
</head>
<body>
    {% block navbar %}
    <ul id="nav">
        <li>
            <a href="{{ url_for('add') }}">Add Job Page</a>
        </li>
        <li>
            <a href="{{ url_for('list_jobs') }}">List Job Page</a>
        </li>
        <li>
            <a href="{{ url_for('home') }}">Return to home</a>
        </li>
        <li>
            <a href="https://lucasdosantos90.github.io/Job-Posting-Website-With-API/">GitHub Site</a>
        </li>
    </ul>
    {% endblock navbar %}

    {% block jobs_list %}
        {% for job in job_list %}
            <div id="jobs_list">
                <p>{{ job.job_title }}</p>
                <p>{{ job.job_location }}</p>
                <p>{{ job.job_requirements }}</p>
                <p>{{ job.job_other_skills }}</p>
                <p>{{ job.job_about }}</p>
                <p>{{ job.job_apply }}</p>
                <hr>
                <a href="{{ url_for('delete_job', id=job.job_id) }}">Delete Job</a>
                <a href="{{ url_for('edit_jobs', id=job.job_id) }}">Edit Job</a>
            </div>
        {% endfor %}
    {% endblock jobs_list %}
</body>
</html>