@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Fraunces:wght@700&family=Hanken+Grotesk:wght@500;700;800&family=Karla:ital,wght@0,400;1,600&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto','Lucida Sans';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-x: hidden;
    background-color: #F5F4F9;
}

#navbar, footer a {
    padding: 2rem;
    color: white;
    text-align: center;
    width: 100vw;
    height: 100px;
    background-color: black;
    position: sticky;
    z-index: 1;
    margin-bottom: 2rem;
}

#navbar > ul > li, footer a {
    margin: 0;
    list-style: none;
    font-size: 2rem;
    display: inline;
}

#navbar > ul > li > a, footer a {
    margin: 0;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
}

@media (max-width: 768px){
    #navbar {
        height: 200px;
    }
    #navbar a {
        display: inline-block;
    }
}

@media (max-width: 410px){
    #navbar {
        height: 300px;
    }
    #navbar a {
        display: inline-block;
    }
}

#jobs {
    margin-bottom: 137px;
    height: 200vh;
    width: 80vw;
}

#job-name {
    margin: auto;
    top: 0px;
    width: 70%;
    border: 3px solid hsla(205, 81%, 33%, 1);
    background-color: hsla(205, 67%, 54%, 1);
    position: sticky;
    border-radius: 2rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

footer {
    padding: 2rem;
    text-align: center;
    color: white;
    height: 100px;
    background-color: black;
    bottom: 0;
    position: fixed;
    width: 100%;
}

#header-job, #about-job{
    background-color: hsla(0, 0%, 48%, .5);
    border: 3px solid hsla(0, 0%, 48%, .9);
    margin: 10px;
    border-radius: 1.5rem;
}

#about-job {
    padding-bottom: 2rem;
}

#company, #local, #job-date,
#contract-time, #level {
    padding: 2rem;
}

hr{
    border: 2px solid #3B97D8;
    left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#apply > button {
    border: none;
    border-radius: 1.5rem;
    padding: 2rem;
    font-size: 1.5rem;
    border: 3px solid hsla(205, 81%, 33%, 1);
    background-color: hsla(205, 67%, 54%, 1);
    margin: 1.5rem;
}

button:hover {
    cursor: pointer;
    position: relative;
    top: -1px;
}

#requirements, #description, #skills {
    padding: 2rem;
}

li {
    /* list-style: none; */
    list-style-position: inside;
    padding: .5rem;
    margin: 2rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    margin-top: .5rem;
}


section > hr:last-of-type {
    position: absolute;
    width: 100vw;
}

#about-company{
    margin: 2rem;
    padding: 2rem;
}
